.accordion-item {
  border: 1px solid #a3d4ff;
  margin-bottom: 10px;
}

.accordion-heading {
  color: #1a1a1e;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 30px;
  background: top 30px right 30px url(img/icon/plus-blue.png) no-repeat;
}

.accordion-hidden {
  display: none;
  padding: 0 30px 30px;
}

.accordion-item-active .accordion-heading {
  background-image: url(img/icon/minus-blue.png);
}

.accordion-item-active .accordion-hidden {
  display: block;
}