<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>overview</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../theme.css">
    <style></style>
    <link href="http://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    </head>
    <body>
<main role="main" aria-label="main section" id="main-content">
      <div class="lzhr"></div>
      <div class="jumbotron jumbotron-fluid" style="background-image:url('https://www.legalzoom.com/resources/img/heroes/hero_corp_amendements.jpg');background-position: 60% center;mix-blend-mode: multiply;">
    <div class="container">
          <div class="row">
        <nav class="breadcrumb col-sm-12"> <a class="breadcrumb-item" href="#">Home</a> <a class="breadcrumb-item" href="#">Library</a> <a class="breadcrumb-item" href="#">Data</a> <span class="breadcrumb-item active">Bootstrap</span> </nav>
        <div class="col-md-6">
              <h1>Fluid jumbotron</h1>
              <h4>This is a modified jumbotron that occupies the entire horizontal space of its parent.</h4>
              <p>Intro paragraph, body copy up to 3 lines max suggested, sagittis enim ut interdum elit. Integer faucibus risus vulputate elit semper mattis. Morbi et convallis arcu, vel rutrum purus.</p>
              <a class="btn btnBlueLt cta" href="#">btnBlueLt</a>
              <p class="postCTA">words <a href="#">link</a> </p>
            </div>
      </div>
        </div>
  </div>
      <div class="container">
    <div class="row">
          <div class="col-sm-12 standard"> [BV] </div>
        </div>
  </div>
      <div class="lzhr"></div>
      <div class="LZgrayltbg">
    <div class="container">
          <div class="row standard text-center">
        <div class="col-lg-12">
              <h2>Over 1 million business have trusted to get started</h2>
            </div>
        <div class="clearfix col-xl-12">
              <p>&nbsp;</p>
            </div>
        <div class="col-lg-4">
              <p><img src="https://www.legalzoom.com/resources/img/icons/people.png" alt="Start a Business with LegalZoom - Form an LLC" title="LegalZoom Has Helped Launch Over One Million Businesses" class=""></p>
              <p><strong>Start an LLC with LegalZoom - LegalZoom has helped start over one million businesses</strong></p>
              <p>Over the past 12 years, we've gotten pretty good at helping people launch their businesses. In fact, we've helped over 1 million of them.</p>
            </div>
        <div class="col-lg-4">
              <p><img src="https://www.legalzoom.com/resources/img/icons/people.png" alt="Start a Business with LegalZoom - Form an LLC" title="LegalZoom Has Helped Launch Over One Million Businesses" class=""></p>
              <p><strong>Form an LLC with LegalZoom and receive lifetime customer support</strong></p>
              <p>Our customer care representatives in the United States will be there to support you throughout the lifetime of your business.</p>
            </div>
        <div class="col-lg-4">
              <p><img src="https://www.legalzoom.com/resources/img/icons/people.png" alt="Start a Business with LegalZoom - Form an LLC" title="LegalZoom Has Helped Launch Over One Million Businesses" class=""></p>
              <p><strong>LLC documents created by top attorneys - up-to-date legal documents</strong></p>
              <p>Our attorneys continually maintain our documents to be up-to-date with the latest legal requirements in each state.</p>
            </div>
      </div>
        </div>
  </div>
      <div class="bgblue2">
    <div class="container">
          <div class="row">
        <div class="col-sm-12 videoblock">
              <h1>VIDEO BLOCK</h1>
            </div>
      </div>
        </div>
  </div>
      <div class="container">
    <div class="row standard text-center">
          <div class="col-lg-12">
        <h2>Easy as 1-2-3</h2>
      </div>
          <div class="clearfix col-xl-12">
        <p>&nbsp;</p>
      </div>
          <div class="col-lg-4">
        <p><img src="https://www.legalzoom.com/resources/img/icons/checklist.png" alt="" title="" class=""></p>
        <p>1. Answer a few easy questions in as little as 15 minutes</p>
      </div>
          <div class="col-lg-4">
        <p><img src="https://www.legalzoom.com/resources/img/icons/checklist.png" alt="" title="" class=""></p>
        <p>2. We'll assemble your documents and file them directly with the Secretary of State</p>
      </div>
          <div class="col-lg-4">
        <p><img src="https://www.legalzoom.com/resources/img/icons/checklist.png" alt="" title="" class=""></p>
        <p>3. You'll receive your completed Limited Liability Company package by mail</p>
      </div>
        </div>
  </div>
      <div class="LZgrayltbg">
    <div class="container">
          <div class="row standard text-center">
        <div class="col-lg-12">
              <h2>What’s difference between an LLC and a Corporation?</h2>
            </div>
        <div class="clearfix col-xl-12">
              <p>&nbsp;</p>
            </div>
        <div class="col-lg-6">
              <h4>LLC</h4>
              <p class="semiboldTxt">Fewer formalities and legal requirements</p>
              <p>For example, you don't have to hold board meetings or maintain records detailing how every company decision is made.</p>
              <p class="semiboldTxt">Ease of setup and management</p>
              <p>Just set up and get to running your business.</p>
            </div>
        <div class="col-lg-6">
              <h4>CORPORATION</h4>
              <p class="semiboldTxt">Plan to raise money from outside investors</p>
              <p>The stricter formalities give investors the knowledge they desire about how your company is run.</p>
              <p class="semiboldTxt">Plan to go public in the future</p>
              <p>Are you shooting for the stars for a big exit?</p>
              <p><a href="#">Learn more about starting a corporation</a></p>
            </div>
      </div>
        </div>
  </div>
      <div class="lzhr"></div>
      <div class="LZgraydkbg standard" style="background-image:url('https://www.legalzoom.com/resources/img/bread-flour.jpg');background-position: 60% center;background-size: cover">
    <div class="container">
          <div class="row">
        <h2 style="color: #fff" class="centerMe">Get started today</h2>
      </div>
          <div class="row justify-content-center">
        <div class="col-sm-4  d-flex align-content-stretch">
              <div class="card card-pricing pricing-inverse">
            <div class="price-hdr"> <strong class="package-title">Basic</strong>
                  <div class="price">$99</div>
                </div>
            <div class="price-body">
                  <p> <strong>Last Will</strong> <span class="package-color">($35 value)</span> </p>
                  <p>Specific to your state. Our product is researched and maintained by attorneys.</p>
                  <p> <strong>Personalized Last Will</strong> </p>
                  <p>Specific to your state. Our product is researched and maintained by attorneys.</p>
                </div>
            <div class="price-cta-box">
                  <p> <a href="#" class="btn pricing-cta">Go somewhere</a> </p>
                  <p> <a href="#"> <em>more details</em> </a> </p>
                </div>
          </div>
            </div>
        <div class="col-sm-4  d-flex align-content-stretch">
              <div class="card card-pricing pricing-inverse promo">
            <div class="price-hdr"> <strong class="package-title">Premium</strong>
                  <div class="price">$129</div>
                </div>
            <div class="price-body">
                  <p> <strong>Personalized Last Will</strong> </p>
                  <p>Specific to your state.</p>
                  <p> <strong>Person Will</strong> <span class="package-color">($35 value)</span> </p>
                  <p>Our product is researched and maintained by attorneys.</p>
                </div>
            <div class="price-cta-box">
                  <p> <a href="#" class="btn pricing-cta">Go somewhere</a> </p>
                  <p> <a href="#"> <em>more details</em> </a> </p>
                </div>
          </div>
            </div>
      </div>
        </div>
  </div>
      <div class="container">
    <div class="row standard text-center">
          <div class="col-lg-12">
        <h2>Ask away. We have answers.</h2>
      </div>
          <div class="clearfix col-xl-12">
        <p>&nbsp;</p>
      </div>
          <div class="col-lg-4">
        <h4>Common questions</h4>
        <p>
        <ul class="faq">
              <li><a href="#id1" class="nav">What is a limited liability company?</a>
            <div id="id1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus, felis at varius eleifend, neque orci porta magna, consequat aliquam ligula velit quis erat. Aenean porttitor pellentesque risus, eu tincidunt ipsum blandit in. </p>
                </div>
          </li>
              <li><a href="#id2" class="nav">Does an LLC need to hold formal meetings?</a>
            <div id="id2">
                  <p>Sed lobortis placerat elit tincidunt tempor. Nam dignissim euismod quam nec tempor. Sed tortor lorem, ultricies a auctor nec, auctor ut neque. Aenean varius, urna eget adipiscing feugiat, nunc ligula molestie massa, id accumsan turpis metus ac ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
          </li>
              <li><a href="#id3" class="nav">Is an LLC right for me?</a>
            <div id="id3">
                  <p>Pellentesque quis tortor vitae elit cursus vulputate et vel dui. Nunc commodo pretium arcu in ultricies. Nunc vel velit enim, et tincidunt leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                </div>
          </li>
              <li><a href="#id4" class="nav">What is an EIN?</a>
            <div id="id4">
                  <p>Quisque eget tempor sapien. Cras convallis tempor orci pulvinar scelerisque. Nullam et erat eu nibh sollicitudin congue sit amet id diam. Sed in lectus ut augue euismod porta. Quisque non lacus odio. Nunc ornare adipiscing egestas. </p>
                </div>
          </li>
              <li><a href="#id5" class="nav">How are LLCs taxed?</a>
            <div id="id5">
                  <p>Quisque eget tempor sapien. Cras convallis tempor orci pulvinar scelerisque. Nullam et erat eu nibh sollicitudin congue sit amet id diam. Sed in lectus ut augue euismod porta. Quisque non lacus odio. Nunc ornare adipiscing egestas. </p>
                </div>
          </li>
              <li><a href="#id6" class="nav">What is a registered agent?</a>
            <div id="id6">
                  <p>Quisque eget tempor sapien. Cras convallis tempor orci pulvinar scelerisque. Nullam et erat eu nibh sollicitudin congue sit amet id diam. Sed in lectus ut augue euismod porta. Quisque non lacus odio. Nunc ornare adipiscing egestas. </p>
                </div>
          </li>
            </ul>
        </p>
      </div>
          <div class="col-lg-4">
        <h4>A specialist is here to help.</h4>
        <p><img src="https://www.legalzoom.com/resources/img/icons/customer-care.png" alt="" title="" class=""></p>
        <h5 class="LZblue4">(866) 679-2103</h5>
        <p>We're available <strong>Mon-Fri 5am-7pm PT</strong>,<br>
              <strong>Weekends 7am-4pm PT</strong></p>
        <p class="LZgreen"><img src="https://www.legalzoom.com/resources/img/icons/american-flag.png" alt="American Flag"> Our agents are based in the United States.</p>
      </div>
          <div class="col-lg-4">
        <h4>Speak with an attorney.</h4>
        <p><img src="https://www.legalzoom.com/resources/img/icons/atty-male.png" alt="" title="" class=""></p>
        <p><strong>Get legal advice from an independent attorney at a price you can afford.</strong></p>
        <p>
              <button class="btnGreen">Find out more</button>
            </p>
        <p>Pricing starts at $31.25/month</p>
      </div>
        </div>
  </div>
    </main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> 
<script src="../../resources/js/global.js"></script>
</body>
</html>