// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
    .padLt20 {
      padding-left: 1.111rem
    }
    .padRt20 {
      padding-right: 1.111rem
    }
    .padLt40 {
      padding-left: 2.222rem
    }
    .padRt40 {
      padding-right: 2.222rem
    }
    .padLt60 {
      padding-left: 3.333rem
    }
    .padRt60 {
      padding-right: 3.333rem
    }
    .padLt80 {
      padding-left: 4.444rem
    }
    .padRt80 {
      padding-right: 4.444rem
    }
    .centerMe {
      margin: 0 auto;
    }

	::selection{color:#fff;background-color: $LZred}

  .icon {width:74px;height:74px; margin-right:2rem; background-color:teal}

  //our palette

  .LZblue1 {color:$LZblue1;}
  .LZblue2 {color:$LZblue2;}
  .LZblue3 {color:$LZblue3;}
  .LZblue4 {color:$LZblue4;}
  .LZblue5 {color:$LZblue5;}
  .LZpurple{color:$LZpurple;}
  .LZpink{color:$LZpink;}
  .LZorange{color:$LZorange;}
  .LZgreen{color:$LZgreen;}
  .LZred{color:$LZred;}
  .LZyellow{color:$LZyellow;}
  .LZgraylt{color:$LZgraylt;}
  .LZgraydark{color:$LZgraydk;}

  .LZblue1bg {background-color:$LZblue1;}
  .LZblue2bg {background-color:$LZblue2;}
  .LZblue3bg {background-color:$LZblue3;}
  .LZblue4bg {background-color:$LZblue4;}
  .LZblue5bg {background-color:$LZblue5;}
  .LZpurplebg {background-color:$LZpurple;}
  .LZpinkbg {background-color:$LZpink;}
  .LZorangebg {background-color:$LZorange;}
  .LZgreenbg {background-color:$LZgreen;}
  .LZredbg {background-color:$LZred;}
  .LZyellowbg {background-color:$LZyellow;}
  .LZgrayltbg {background-color:$LZgraylt;}
  .LZgraydkbg {background-color:$LZgraydk;}
  .redbg {background-color:$red;}
  .bluebg {background-color:$blue;}
  .purplebg{background-color:$purple;}
  .tealbg{background-color:$teal;}
  .yellowbg{background-color:$yellow;}
  .pinkbg{background-color:$pink;}
  .greenbg{background-color:$green;}
  .orangebg{background-color:$orange;}
  .whitebg{background-color:#fff;}

  .banner {border-radius: $border-radius;padding:1.5rem 0;}